
{% extends 'account/base.html' %}
{% load static %}

{% block content %}

{% if perms.frontoffice.delete_phonecalllog %}
    <div class="fw fl mt40">
        <p>Are you sure?</p>
        <p>You want to delete  {{ phone.complain_type }}  complain </p>
        <a href="{% url 'frontoffice:complains' %}">Cancel</a>
        <form action="" method="post" id="">
        {% csrf_token %}
            <input type="submit" value="Confirm" class="btn btn-danger" >
        </form>
    </div>
{% endif %}

{% endblock %}





