{% extends 'account/base.html' %}
{% load static %}
{% block content %}
    {% if perms.frontoffice.edit_phonecalllog   %}
        <div class="fw fl mt40">
            <form action="" method="post" id="phone_call_log_form" novalidate>
                <div class="alert alert-danger form_msg dn" ></div>
                <input type="text" value="{{pk}}" id="form_ed_id" class="dn">
                {% csrf_token %}
                {{ err_msg }}
                <div class="row">
                    <div class="col-md-6 mb15">
                        <label >{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>

                    <div class="col-md-3 mb15">
                        <label >{{ form.phone.label }}</label>
                        {{ form.phone }}
                    </div>

                    <div class="col-md-3 mb15">
                        <label >{{ form.call_duration.label }}</label>
                        {{ form.call_duration }}
                    </div>

                    <div class="col-md-6 mb15">
                        <label >{{ form.date.label }}</label>
                        {{ form.date }}
                    </div>

                    <div class="col-md-6 mb15">
                        <label >{{ form.followup.label }}</label>
                        {{ form.followup }}
                    </div>
                    <div class="col-md-12 mb15">
                        <label >{{ form.call_type.label }}</label>
                        {{ form.call_type }}
                    </div>
                    <div class="col-md-12 mb15">
                        <label >{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    <div class="col-md-12 mb15">
                        <label >{{ form.note.label }}</label>
                        {{ form.note }}
                    </div>
                    <div class="col-md-12 mb15">
                        <label >{{ form.created_by.label }}</label>
                        {{ form.created_by }}
                    </div>
                </div>
				<input type="submit" value="Save" >
            </form>
        </div>
    {% endif %}
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
{% endblock %}

