{% extends 'account/base.html' %}
{% block content %}
 <div class="col-md-12">
     <h5 class="text-center">Admit Card </h5>
     <div class="">
         <table class="table table-bordered">
         <thead>
            <tr>
                <th>Serial No</th>
                <th>Student Name </th>
                <th>Student Roll</th>
                <th>Student Class</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td>1</td>
                <td>Md Rokon</td>
                <td>413812 </td>
                <td>Eleven </td>
            </tr>
         </tbody>
     </table>
     </div>
 </div>
{% endblock content %}