<!doctype html>
{% load static %}
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    -->

    <link rel="stylesheet" href="{% static 'css/bootstrap4.css' %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- switch -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch-button.min.css' %}">
    <!-- switch -->


    <!--- datepicker -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker-widget.css' %}">
    <!--- datepicker -->


    <!--- custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <!--- custom -->


</head>
<body class="base ">

{% include "account/header.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ">

        </div>

        <div class="col-md-9 ">

            <div class="fw fl">
            </div>

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 admin_sidebar_left p0 m0">
            <!--                  {% include "account/sidebar.html" %}-->
        </div>

        <div class="col-md-10 admin_main_body_right p0 m0">

            <div class="fw fl pl15 pr15">
                {% block content %}

                {% endblock %}
            </div>

        </div>
    </div>
</div>

{% include "account/footer.html" %}


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<!-- switch -->
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
<!-- switch -->


<!-- datepicker -->

<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/datepicker-widget.js' %}"></script>

<!-- datepicker -->

<!--- custom started --->
<script src="{% static 'js/custom.js' %}"></script>
<script>
/// complain
$('#complain_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'frontoffice:add_complain' %}";
            var action = 'add';
        }else{
            var url = '/frontoffice/edit_complain/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'frontoffice:complains' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'frontoffice:complains' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// complain

/// phone_call_log
$('#phone_call_log_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'frontoffice:add_phonecalllog' %}";
            var action = 'add';
        }else{
            var url = '/frontoffice/edit_phonecalllog/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'frontoffice:phonecalllogs' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'frontoffice:phonecalllogs' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// phone_call_log

/// postal_dispatch
$('#postal_dispatch_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'frontoffice:add_postaldispatch' %}";
            var action = 'add';
        }else{
            var url = '/frontoffice/edit_postaldispatch/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'frontoffice:postaldispatchs' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'frontoffice:postaldispatchs' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// postal_dispatch
/// postal_receive
$('#postal_receive_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'frontoffice:add_postalreceive' %}";
            var action = 'add';
        }else{
            var url = '/frontoffice/edit_postalreceive/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'frontoffice:postalreceives' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'frontoffice:postalreceives' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// postal_receive

/// postal_receive
$('#visitor_book_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'frontoffice:add_visitorbook' %}";
            var action = 'add';
        }else{
            var url = '/frontoffice/edit_visitorbook/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'frontoffice:visitorbooks' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'frontoffice:visitorbooks' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// postal_receive

/// leave
$('#leave_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'leave:add_leave' %}";
            var action = 'add';
        }else{
            var url = '/leave/edit_leave/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'leave:leaves' %}";
                        printSuccess(data.success, re_url);
                    }else{
                        var re_url = "{% url 'leave:leaves' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// leave

/// leave_type
$('#leave_type_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'leave:add_leave_type' %}";
            var action = 'add';
        }else{
            var url = '/leave/edit_leave_type/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'leave:leavetypes' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'leave:leavetypes' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// leave_type

/// author
$('#author_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_author' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_author/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:authors' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:authors' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// author

/// publisher
$('#publisher_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_publisher' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_publisher/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:publishers' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:publishers' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// publisher

/// subject
$('#subject_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_subject' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_subject/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:subjects' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:subjects' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// subject

/// book language
$('#booklanguage_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_booklanguage' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_booklanguage/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:booklanguages' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:booklanguages' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// book language

/// book rack
$('#rack_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_rack' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_rack/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:racks' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:racks' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// book rack

/// book Issue
$('#bookissue_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_bookissue' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_bookissue/'+form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:bookissues' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:bookissues' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// book Issue

/// book 
$('#book_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_book' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_book/'+ form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:books' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:books' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// book rack


/// book 
$('#ebook_form').submit(function(e){
        e.preventDefault();
        $form = $(this);
        var formData = new FormData(this);

        var form_ed_id = $('#form_ed_id').attr('value');

        if(form_ed_id.length <1){
            var url = "{% url 'library:add_ebook' %}";
            var action = 'add';
        }else{
            var url = '/library/edit_ebook/'+ form_ed_id;
            var action = 'edit';
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    if(action == 'add'){
                        var user = data.user
                        var re_url = "{% url 'library:ebooks' %}";
                        printSuccess(data.success,re_url);
                    }else{
                        var re_url = "{% url 'library:ebooks' %}";
                        printSuccess(data,re_url);
                    }

                }else{
                    if(data.custom_error){
                        printErrorOnly(data.error);
                    }else{
                        printErrorMsg(data.error);
                    }
                }
            },
            complete:function(){
               $('body, html').animate({scrollTop:$('form').offset().top}, 'fast');
            },
            cache: false,
            contentType: false,
            processData: false

        });
    });
/// book rack
</script>
</body>
</html>




