{% extends 'institute/base.html' %}
{% block content %}

<div class="alert alert-danger print-error-msg" style="display:none">
    <ul></ul>
</div>
<p class="form_msg text-center"></p>
<form class="form-group" id="friend-form" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
<div class="fw fl">

            <div class="row">

                <div class="col-md-6 mb15">
                    <label>{{ form.full_name.label }}</label>
                    {{ form.full_name }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.gender.label }}</label>
                    {{ form.gender }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.teacher_designation.label }}</label>
                    {{ form.teacher_designation }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.work_type.label }}</label>
                    {{ form.work_type }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.monthly_salary.label }}</label>
                    {{ form.monthly_salary }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.special_for.label }}</label>
                    {{ form.special_for }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.educational_qualification.label }}</label>
                    {{ form.educational_qualification }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.special_training.label }}</label>
                    {{ form.special_training }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.joining_date.label }}</label>
                    {{ form.retirement_date }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.index_number.label }}</label>
                    {{ form.index_number }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.mpo_date.label }}</label>
                    {{ form.mpo_date }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.staff_id_no.label }}</label>
                    {{ form.staff_id_no }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.staff_access.label }}</label>
                    {{ form.staff_access }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.teacher_email.label }}</label>
                    {{ form.teacher_email }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.teacher_password.label }}</label>
                    {{ form.teacher_password }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.teacher_phone.label }}</label>
                    {{ form.teacher_phone }}
                </div>
                 <div class="col-md-6 mb15">
                    <label>{{ form.teacher_dob.label }}</label>
                    {{ form.teacher_dob }}
                </div>
                 <div class="col-md-6 mb15">
                    <label>{{ form.blood_group.label }}</label>
                    {{ form.blood_group }}
                </div>
                 <div class="col-md-6 mb15">
                    <label>{{ form.religion.label }}</label>
                    {{ form.religion }}
                </div>
                 <div class="col-md-6 mb15">
                    <label>{{ form.passport.label }}</label>
                    {{ form.passport }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.nid.label }}</label>
                    {{ form.nid }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.last_organizing.label }}</label>
                    {{ form.last_organizing }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.cause_of_leave.label }}</label>
                    {{ form.cause_of_leave }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.institute_address.label }}</label>
                    {{ form.institute_address }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.village.label }}</label>
                    {{ form.village }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.post.label }}</label>
                    {{ form.post }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.union.label }}</label>
                    {{ form.union }}
                </div>
                 <div class="col-md-6 mb15">
                    <label>{{ form.upozilla.label }}</label>
                    {{ form.upozilla }}
                </div>
                 <div class="col-md-6 mb15">
                    <label>{{ form.district.label }}</label>
                    {{ form.district }}
                </div>
                 <div class="col-md-6 mb15">
                    <label>{{ form.postal_code.label }}</label>
                    {{ form.postal_code }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.permanent_village.label }}</label>
                    {{ form.permanent_village }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.permanent_post.label }}</label>
                    {{ form.permanent_post }}
                </div><div class="col-md-6 mb15">
                    <label>{{ form.permanent_union.label }}</label>
                    {{ form.permanent_union }}
                </div>
                <div class="col-md-6 mb15">
                    <label>{{ form.permanent_upozilla.label }}</label>
                    {{ form.permanent_upozilla }}
                </div>

                 <div class="col-md-6 mb15">
                    <label>{{ form.permanent_district.label }}</label>
                    {{ form.permanent_district }}
                </div>

                <div class="col-md-6 mb15">
                    <label>{{ form.permanent_postal_code.label }}</label>
                    {{ form.permanent_postal_code }}
                </div>


                <div class="col-md-6 mb15 mt15">
                    <div class="fw fl tc ">
                        <label>{{ form.image.label }}</label>
                    </div>

                    <div class="col-md-6 mb15 mt15">
                        <input type="file" name="image" class="imginput dn" id="image">

                    </div>
                </div>

                <div class="col-md-6 mb15">
                    {{ form.agree }}<label>&nbsp; I agree with these informations. All of them are correct!</label>
                </div>

            </div>
        </div>
<button type="submit" class="btn btn-success">Save Teacher</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $('#friend-form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "/add_teacher/",
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                    printSuccess('Success');
                    }else{
                        console.log(data.error)
                        printErrorMsg(data.error);
                    }
             },
             complete:function(){
               $('body, html').animate({scrollTop:$('body').offset().top}, 'fast');
            },

            cache: false,
            contentType: false,
            processData: false

        });

        function printSuccess(msg) {
            $(".form_msg").html('');
            $(".form_msg").removeClass('dn alert-danger').addClass('alert-success');
            $(".form_msg").append('<p>'+msg+'</p>');
            window.setTimeout(function() {
                    window.location.href = '/teachers';
                },500);

        }
           function printErrorMsg (msg) {
             $(".form_msg").html('');
             $(".form_msg").removeClass('dn');
            $.each( msg, function( key, value ) {
                if (value) {
                 $(".form_msg").append('<p class="alert-danger">'+key+' - '+value+'</p>');
                return false;
              }
            });
        }
    });


</script>

{% endblock %}