{% extends 'institute/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="alert alert-danger print-error-msg" style="display:none">
    <ul></ul>
</div>
<form class="form-group" id="friend-form" method="post" enctype="multipart/form-data" novalidate>
     {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="teacher_id" id="teacher_id" value="{{ object.id }}">
    <button type="submit" class="btn btn-success">Save Teacher</button>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $('#friend-form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "/update_teacher/",
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                   alert('Teacher Updated successfully')
                    }else{
                        console.log(data.error)
                        printErrorMsg(data.error);
                    }
             },
            cache: false,
            contentType: false,
            processData: false

        });
           function printErrorMsg (msg) {
            $(".print-error-msg").find("ul").html('');
            $(".print-error-msg").css('display','block');
            $.each( msg, function( key, value ) {
                if (value) {
                $(".print-error-msg").find("ul").append('<li>'+key+' - '+value+'</li>');
                return false;
              }
            });
        }

    });
</script>

{% endblock %}