{% extends 'account/base.html' %}
{% block content %}
    {% if perms.frontoffice.view_postalreceive  %}

        {% if perms.frontoffice.add_postalreceive   %}
            <div class="fw fl mt40">
                <a  class="btn btn-secondary btn-sm" href="{% url 'frontoffice:add_postalreceive' %}">Add Postal Receive</a>
            </div>
        {% endif %}

        <div class="fw fl mt40">
            <table class="table table-hover">
                <thead>
				<tr>
					<th>Serial</th>
					<th>Receiver</th>
					<th>Sender</th>
					<th>Reference</th>
					<th>Receive Date</th>
					<th>Address</th>
					<th>Attachment</th>
                        {% if perms.frontoffice.change_postalreceive    %}
                            <th scope="col">Edit</th>
                        {% endif %}
                        {% if perms.frontoffice.delete_postalreceive  %}
                            <th scope="col">Delete</th>
                        {% endif %}
				</tr>
                </thead>
            <tbody>

            {% for postalreceive in postalreceives  %}
                <tr>
					<td>{{forloop.counter}}</td>
					<td>{{postalreceive.receiver}}</td>
					<td >{{postalreceive.sender}}</td>
					<td>{{postalreceive.referance}}</td>
					<td>{{postalreceive.receive_date}}</td>
					<td>{{postalreceive.address}}</td>
					<td>
						{% if postalreceive.attachment %}
							<a class="badge badge-info" href="{{postalreceive.attachment.url}}" target="_blank">Attachment</a>
						{% else %}
							None
						{% endif %}
					</td>


                    {% if perms.frontoffice.change_postalreceive %}
                        <td><a href="{% url 'frontoffice:edit_postalreceive' postalreceive.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                    {% endif %}
                    {% if perms.frontoffice.delete_postalreceive  %}
                        <td><a href="{% url 'frontoffice:delete_postalreceive' postalreceive.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
{% endblock content %}