{% extends 'account/base.html' %}
{% load static %}

{% block content %}
{% if perms.leave.view_leave   %}
{% if perms.leave.add_leave  %}
<div class="fw fl mt40">
    <a class="btn btn-secondary btn-sm" href="{% url 'leave:add_leave' %}">Add Leave</a>
</div>
{% endif %}
<div class="fw fl mt40">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Serial No</th>
            <th scope="col">Applied By</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Apply Date</th>
            <th scope="col">Reason</th>
        </tr>
        </thead>
        <tbody>
        {% for value in leaves %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td class="tcap">{{value.applied_by}}</td>
            <td>{{value.leave_type}}</td>
            <td>{{value.apply_date}}</td>
            <td>{{value.reason}}</td>
            <td>
                {% if leave.attachment %}
                <a class="badge badge-info" href="{{leave.attachment.url}}" target="_blank">Attachment</a>
                {% else %}
                None
                {% endif %}
            </td>

            {% if perms.leave.change_leave %}
            <td><a href="{% url 'leave:edit_leave' leave.id %}" class="btn btn-primary btn-sm">Edit</a></td>
            {% endif %}
            {% if perms.leave.delete_leave %}
            <td><a href="{% url 'leave:delete_leave' leave.id %}" class="btn btn-danger btn-sm">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% endblock %}