{% extends 'account/base.html' %}
{% block content %}
    {% if perms.frontoffice.view_visitorbook %}

        {% if perms.frontoffice.add_visitorbook   %}
            <div class="fw fl mt40">
                <a  class="btn btn-secondary btn-sm" href="{% url 'frontoffice:add_visitor_book' %}">Add Visitor Book</a>
            </div>
        {% endif %}

        <div class="fw fl mt40">
            <table class="table table-hover">
                <thead>
				<tr>
					<th>Serial</th>
					<th>Name</th>
					<th>Purpose</th>
					<th>Phone</th>
					<th>Meet User </th>
					<th>ID Card</th>
					<th>Date</th>
					<th>In time</th>
					<th>Out time</th>
					<th>Attachment</th>
                        {% if perms.frontoffice.change_edit_postal_receive    %}
                            <th scope="col">Edit</th>
                        {% endif %}
                        {% if perms.frontoffice.delete_postal_receive  %}
                            <th scope="col">Delete</th>
                        {% endif %}
				</tr>
                </thead>
            <tbody>

            {% for value in visitor_book  %}
                <tr>
					<td>{{forloop.counter}}</td>
					<td>{{value.name}}</td>
					<td >{{value.purpose}}</td>
					<td>{{value.phone}}</td>
					<td>{{value.meet_user}}</td>
					<td>{{value.id_card}}</td>
					<td>{{value.date}}</td>
					<td>{{value.in_time}}</td>
					<td>{{value.out_time}}</td>
					<td>
						{% if value.attachment %}
							<a class="badge badge-info" href="{{value.attachment.url}}" target="_blank">Attachment</a>
						{% else %}
							None
						{% endif %}
					</td>


                    {% if perms.frontoffice.change_visitorbook %}
                        <td><a href="{% url 'frontoffice:edit_visitor_book' value.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                    {% endif %}
                    {% if perms.frontoffice.delete_visitorbook  %}
                        <td><a href="{% url 'frontoffice:delete_visitor_book' value.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
{% endblock content %}