
{% extends 'institute/base.html' %}

{% block content %}

<div class="container">
  <a href="{% url 'add_student' %}" class="btn btn-success">Add New Student</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Institute Name </th>
      <th scope="col">Student Class </th>
      <th scope="col">Section</th>
      <th scope="col">Class Roll </th>
      <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
  {% for instance in students %}
    <tr>
      <th>{{ instance.student_name }}</th>
      <td>{{ instance.institute_name }}</td>
      <td>{{ instance.student_class }}</td>
      <td>{{ instance.section }}</td>
      <td>{{ instance.class_roll }}</td>
         <td>
              <a href="/student_details/{{ instance.id }}" class="btn btn-success">Details</a>
              <a href="/edit_student/{{ instance.id }}" type="button" class="btn btn-primary">Edit</a>
              <button class="btn btn-danger" onClick="deleteUser({{instance.id}})">DELETE</button>
         </td>
    </tr>
{% endfor %}
  </tbody>
</table>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this Data?");
  if (action != false) {
    $.ajax({
        url: '/delete_student/',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
             alert('Data Deleted Successfully !')
            }
        }
    });
  }
}
</script>


{% endblock %}