{% extends "institute/base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Student Update #</h5>
    </div>
    <div class="alert alert-danger print-error-msg" style="display:none">
    <ul></ul>
</div>

    <div class="card-body">
        <form method="post" id="friend-form" class="group_form"  enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-group col-4">
            <label class="col-12">{{ form.label }}</label>

            {{ form }}
        </div>
            <input type="hidden" name="student_id" id="student_id" value="{{ object.id }}">
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $('#friend-form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: "/update_student/",
            type: 'POST',
            data: formData,
            success: function (data) {
                if($.isEmptyObject(data.error)){
                   alert('Student Updated successfully')
                    }else{
                        console.log(data.error)
                        printErrorMsg(data.error);
                    }
             },
            cache: false,
            contentType: false,
            processData: false

        });
           function printErrorMsg (msg) {
            $(".print-error-msg").find("ul").html('');
            $(".print-error-msg").css('display','block');
            $.each( msg, function( key, value ) {
                if (value) {
                $(".print-error-msg").find("ul").append('<li>'+key+' - '+value+'</li>');
                return false;
              }
            });
        }

    });
    // end

</script>
{% endblock %}